<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://infocussocial.org.in/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://infocussocial.org.in/favicon.ico" type="image/x-icon">

    <title>Infocus - Articles & Blogs</title>

    
    <!-- Bootstrap Core CSS -->
    <link href="http://infocussocial.org.in/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://infocussocial.org.in/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!--<link href="http://infocussocial.org.in/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="http://infocussocial.org.in/css/creative.css" rel="stylesheet">


</head>

<body>
<div id="load" style="display:none"></div>

<section class="bg-primary" id="about">
<div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{{article.name}}</h2>
                    <h3>                                    -  {{article.author}}</h3>
                </div>
            </div>
        </div>
</section>
<div class="col-lg-2 col-lg-offset-5">
    <img src="http://www.infocussocial.org.in/images/articles/{{article.id}}.jpg" class="img-responsive" alt="">
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {% for section in article.sections %}
                {{section}}
                <br/>
                {% endfor %}
                <hr class="primary">
            </div>
        </div>
        
        <div id="respond">

            <h3>Leave a Comment</h3>
<form id="commentForm" action="JavaScript:postComment()">
                <label for="comment_author" class="required">Your name</label>
                <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">

                <label for="comment_email" class="required">Your email</label>
                <input type="email" name="email" id="comment_email" value="" tabindex="2" required="required">

                <label for="comment" class="required">Your message</label>
                <textarea name="comment" id="comment" rows="4" tabindex="4"  required="required"></textarea>
            
                <input name="submit" id="postCommentBtn" type="submit" value="Submit"/>
</form>
        </div>

        <div>
            <br/>
            {% for comment in article.comments %}
            <b>{{ comment.username }} </b> wrote on {{comment.createdDate | date("MM-dd-yyyy")}} :- {{ comment.comment }}
            <br/>
            {% else %}
            <b>No one has commented yet. Be the first!</b>
            {% endfor %}
        </div>
    </div>
</section>

<div id="footer_index">
        <div class="container">
            <p>
                <i class="fa fa-copyright" aria-hidden="true"></i> Infocus Social @ 2019
                <span>
                    <a href="https://www.facebook.com/infocusmohanpur/" target="_blank" class="btn btn-social-icon btn-lg btn-facebook">
                        <i class="fa fa-facebook" style="color:blue"></i>
                    </a>
                </span>
                <span>
                    <a href="https://www.youtube.com/channel/UCc5k4V6CjeORRZWRrsWbllw" target="_blank" class="btn btn-social-icon btn-lg btn-pinterest">
                        <i class="fa fa-youtube"></i>
                    </a>
                </span>
            </p>
        </div>
</div>

<script>
function postComment() {
  var xhttp = new XMLHttpRequest();
  var commentBody = {};
  commentBody.username = document.getElementById("comment_author").value;
  commentBody.email = document.getElementById("comment_email").value;
  commentBody.comment =  document.getElementById("comment").value;
  
  xhttp.onreadystatechange = function() {
    startLoader();
    if (this.readyState == 4 && this.status == 200) {
	  window.location.href = 'http://www.infocussocial.org.in/api/v0/infocus/view/articles/{{article.id}}';
    }
	else if(this.readyState == 4 && this.status != 200){
	  alert("Oops! Your comment could not be posted. Please try again later.");
	  commentFormCleanUp();
	  stopLoader();
    }
  };
  xhttp.open("POST", "http://www.infocussocial.org.in/api/v0/infocus/articles/{{article.id}}/comments", true);
  xhttp.setRequestHeader("Access-Control-Allow-Origin","*");
  xhttp.setRequestHeader("Accept", 'application/json');
  xhttp.setRequestHeader("Content-Type", 'application/json'); 
  xhttp.setRequestHeader("Authorization", "Basic " + btoa("website_client" + ":" + "infocususer"));
  xhttp.send(JSON.stringify(commentBody));
  
  function stopLoader()
  {
    var loadingDiv = document.getElementById("load");
    loadingDiv.style.display = "none";
  }

 function startLoader()
  {
    var loadingDiv = document.getElementById("load");
    loadingDiv.style.display = "block";
  }

function commentFormCleanUp()
{
 document.getElementById("comment_author").value = '';
 document.getElementById("comment_email").value = '';
 document.getElementById("comment").value = '';
}
}
</script>

</body>

</body>


</html>